.card-form {
    width: 340px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.card-image {
    border-radius: 10%;
    height: 340px;
    object-fit: cover;
}
.card-title {
    position: relative;
    width: 50%;
    bottom: 5rem;
    left: 2rem;
    font-size: 16px;
    font-weight: 600;
    align-self: flex-start;
    text-shadow: 1px 1px 2px black;
    color: white;
}