body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-disposition {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
main {
  height: 100vh;
}
.carrousel {
  justify-content: center;
}
.blocs {
  display: flex;
  width: 90%;
  margin: auto;
}
.desc-bloc {
  width: 100%;
  margin-left: 2rem;
  margin-right: 1rem;
}
.equip-bloc {
  width: 100%;
  margin-left: 1rem;
  margin-right: 2rem;
}
.rating-and-host {
  margin-left: 2rem;
  margin-right: 2rem;
}
.tag-index {
  display: flex;
  margin-left: 2rem;
}
.tag {
  color: #FF6060;
  font-size: 16px;
  font-weight: 300;
}
.infos-bloc {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.link-card-logement {
  text-decoration: none;
}
.cards-container {
  width: 90%;
  margin: auto;
}
.about-dropdowns {
  width: 80%;
  margin: auto;
}
.about-banner, img {
  width: 90%;
  margin: auto;
}
.img-error {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .about-banner img {
    width: 800px;
    height: auto;
  }
  main {
    max-height: 100vh;
  }
}
@media only screen and (max-width: 600px) {
  .about-banner img {
    width: 380px;
  }
  .infos-bloc {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
  .blocs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .desc-bloc {
    width: 100%;
    margin: 0;
  }
  .equip-bloc {
    width: 100%;
    margin: 0;
  }
  .rating-and-host {
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
  }
  .tag-index {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .tag {
    margin: 0;
    margin-bottom: 5px;
  }
  .img-error img {
    width: 100%;
  }
  .card-disposition {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}